parameters:
  level: 5
  paths:
    - plugin.php
    - includes/
  bootstrapFiles:
    - tests/phpstan/bootstrap.php
  scanFiles:
    - plugin.php
    - tests/phpstan/stubs/wp-cli.php
    - tests/phpstan/stubs/exitexception.php
    - tests/phpstan/stubs/formatter.php
  dynamicConstantNames:
    - WP_PLUGIN_CHECK_PLUGIN_DIR_URL
  treatPhpDocTypesAsCertain: false
