name: Lint JS

on:
  push:
    paths:
      - '**.js'
      - 'package-lock.json'
    branches:
      - trunk
  pull_request:
    paths:
      - '**.js'
      - 'package-lock.json'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: JS Lint
        run: npm run lint:js